Repository EnzymeAD/Reactant.jl, pull requests merged in 2025-02, with the labels that each got.

#733 fix `Type(value)` instead of `type(value)`
  src/mlir/IR/Value.jl
Labels: MLIR.jl backport

#750 [IFRT] add ifrt-proxy server and client bindings
  deps/ReactantExtra/API.cpp
  deps/ReactantExtra/BUILD
Labels: IFRT

#751 [IFRT] add c-bindings for "Held" PjRt classes
  deps/ReactantExtra/API.cpp
  deps/ReactantExtra/BUILD
Labels: IFRT, sharding

#796 feat: JLL changes for IFRT integration
  deps/ReactantExtra/API.cpp
  deps/ReactantExtra/BUILD
Labels: IFRT, distributed

#788 feat: use C-API to convert TensorShardingAttr to HloSharding
  Project.toml
  src/Compiler.jl
  src/Ops.jl
  src/Sharding.jl
  src/TracedUtils.jl
  src/xla/PJRT/LoadedExecutable.jl
  src/xla/Sharding.jl
  test/sharding.jl
Labels: distributed

#780 feat: setup Distributed Runtime
  Project.toml
  ext/ReactantMPIExt.jl
  src/Compiler.jl
  src/Devices.jl
  src/Distributed.jl
  src/Reactant.jl
  src/Types.jl
  src/xla/Client.jl
  src/xla/Distributed.jl
  src/xla/PJRT/Client.jl
  src/xla/Stats.jl
  src/xla/XLA.jl
Labels: distributed

#794 traced control flow fixes
  src/Ops.jl
  src/Tracing.jl
  test/control_flow.jl
Labels: control flow

#801 cf: extract condition to a name
  lib/ReactantCore/src/ReactantCore.jl
  test/control_flow.jl
Labels: control flow
